/*  your css code here. If applicable */

 body{
        background-color: rgb(204, 204, 204);
    }
    h1 {
text-align: center;
    }
     h2 {
text-align: center;
    }
    .song{
        background-color: rgb(255, 255, 255);
        width: 90%;
        margin: auto;
        padding: 5px ;
		border:2px solid black;
        border-radius: 10px;

    }
    .song ul li{
        list-style-type: none;
    }
    .song ul li a{
        text-decoration-line: none;
        color: black;
    }
    .videobox{
        background-color: rgb(255, 255, 255);
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
    }
    .videobox video{
        width: 100%;
    }
    .videobox audio{
        width: 100%;
    }